<div class="container">
	<div class="general-category">
		<div>
			<img src="assets/pics/pexels-juan-mendez-1536619.jpg" alt="Girl in yellow">
			<p>Imbracaminte</p>
		</div>
		<div>
			<img src="assets/pics/pexels-juan-mendez-1536619.jpg" alt="Girl in yellow">
			<p>Incaltaminte</p>
		</div>
		<div>
			<img src="assets/pics/pexels-juan-mendez-1536619.jpg" alt="Girl in yellow">
			<p>Accesorii</p>
		</div>
	</div>

	<div class="clothes-category">
		<div *ngFor="let clothe of clothesCategory">
			<img src="assets/pics/pexels-anastasiya-gepp-2065200.jpg" alt="Girl height in yellow">
			<p>{{clothe}}</p>
		</div>
		
	</div>

	<div class="footwear-category">
		
	</div>

	<div class="accessories-category">
		
	</div>

</div>