.row-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.row-2 {
    display: flex;
    justify-content: center;
}

.name {
    text-align: center;
    cursor: pointer;
}

.search {
    text-align: right;
}

.second-toolbar {
    display: flex;
    justify-content: center;
}

.second-toolbar button {
    padding: 0px 2.5em;
}

.login{
    margin-right: 15px;
}