img {
    width: 100vw;
    height: 38vw;
    max-width: 100%;
    overflow-x: hidden;
}

.button-container {
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}

.button-container button {
    margin-bottom: 2em;
}